
.App {
  text-align: center;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color:rgb(50, 55, 56);
  color:white;

}
.navbar_link {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}